<div class="teams-content">
    <div class="imagen">
        <img src="assets/img/wallpaper1.jpg" class="img">
    </div>
    
    <div class="section-header">
        <div class="section-header-inner">
            <div class="header-spacer">
            </div>
            <div class="header-title">
                <h2 class="header-title-font">
                    <span>
                        <span>TEAMS</span>
                    </span>
                    <span>
                        <span>Season 13</span>
                    </span>
                </h2>
                
            </div>
        </div>
    </div>
    <div class="section-body">

    </div>
    <div class="section-footer">

    </div>
</div>